body{
	text-align: center;
	font-family: Permanent Marker;
	background-image: url("../images/film-wallpapers.jpg");
}

h1{
	text-align: center;
}

#startButton{
	width: 200px;
	height: 75px;
	font-size: 24px;
	background-color: black;
	color: #E8D3A0;
}

#trivia{
	color: #E8D3A0;
}

.radio-inline{
	font-size: 22px;
	color: #E8D3A0;
	font-weight: bolder;
}

#showTime{
font-size: 50px;
color: #E8D3A0;

}

#doneButton{
	width: 200px;
	height: 75px;
	font-size: 24px;
	background-color: black;
}

#results h2{
	font-size: 36px;

}

#results{
	color: #E8D3A0;
	font-size: 20px;
	background-color: rgba(0,0,0,0.6);
}

.container .jumbotron{
	background-color: transparent;
	
}

.jumbotron{
	color: #E8D3A0;
}

#wrapper{
	background-color: rgba(0,0,0,0.6);
}
